:root{
    --dark: #467e8b;
    --white: #ffffff;
    --light-grey:  #efefef;
    --gold: #ecd5a7;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .05rem;
    background-color: var(--dark);
}
h1,h2,h3,h4,h5,h6 .navbar-brand{
font-family: 'Roboto Condensed', sans-serif;
font-weight: 500 !important; 
line-height: 1.5n !important;
}
.bg-light{
    background-color: var(--white) !important;
}
.bg-blanco{
    background-color: dimgray;
}
.text-manu{
   color: rgb(15, 44, 88);
}
.bg-light-grey{
    background-color: var(--light-grey);
}
.bg-dark{
    background-color: var(--dark)!important;
}
.text-gold{
    color: var(--gold);
}
.text-negro{
    color:darkslategrey;
     }
.text-light{
    color: var(--white) !important
}

.navbar{
    min-height: 5rem;
}
.nav-link{
    color: var(--white);
    text-transform: uppercase;
    font-size: .9rem;
}
section{
    padding: 6rem 0;
}
#slider{
    padding: 0;
}
.d-block{
    color:var(--dark)
}
.mt-6{
    margin-top: 4rem;
}
.badge{
    font-weight: 500;
    padding: 5rem 1.5rem;
    line-height: 1.5;
}
