:root{
    --dark: #65b472;
    --white: #ffffff;
    --light-grey:  #efefef;
    --gold: #ecd5a7;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .05rem;
    background-color: var(--dark);
}
h1,h2,h3,h4,h5,h6 .navbar-brand{
font-family: 'Roboto Condensed', sans-serif;
font-weight: 500 !important; 
line-height: 1.5n !important;
}
.bg-light{
    background-color: var(--white) !important;
}
.bg-blanco{
    background-color: dimgray;
}
.text-manu{
   color: darkred;
}
.bg-light-grey{
    background-color: var(--light-grey);
}
.bg-dark{
    background-color: var(--dark)!important;
}
.bg-manuel{
    background-color: black;
}
.bg-ca{
    background-color: rgb(202, 32, 151);
}
.bg-ana{
    background-color: rgb(231, 68, 18);
}
.bg-mora{
    background-color: rgb(148, 32, 202);
}
.text-gold{
    color: black;
}
.text-light{
    color: var(--white) !important
}

.navbar{
    min-height: 5rem;
}
.nav-link{
    color: black;
    text-transform: uppercase;
    font-size: .9rem;
}
section{
    padding: 6rem 0;
}
#slider{
    padding: 0;
}
.d-block{
    color:var(--dark)
}
.mt-6{
    margin-top: 4rem;
}
.badge{
    font-weight: 500;
    padding: 5rem 1.5rem;
    line-height: 1.5;
}